PORT=3001
ALLOWLIST_HOSTS=imap.gmail.com,smtp.gmail.com,imap.zoho.com,smtp.zoho.com,imappro.zoho.com,smtppro.zoho.com,outlook.office365.com,smtp.office365.com

# In-app YouTube scraper
SCRAPER_DIR=../scraper
PYTHON_BIN=python
YTDLP_COOKIES_FILE=../scraper/cookies.txt

MAIL_FROM_NAME=Youssef ahmed | YSX Visuals

# --- GMAIL CONFIGURATION ---
GMAIL_USER=youssef.ysx@youssefahmed.design
GMAIL_APP_PASSWORD=[INSERT NEW GMAIL APP PASSWORD]

# --- ZOHO CONFIGURATION ---
ZOHO_USER=
ZOHO_APP_PASSWORD=

# --- MICROSOFT / OUTLOOK CONFIGURATION ---
MICROSOFT_USER=YoussefAhmed@outreach.ysxvisuals.com
MICROSOFT_APP_PASSWORD=[INSERT NEW MICROSOFT SMTP APP PASSWORD]

MICROSOFT_CLIENT_ID=7f03ed98-5a4c-43d4-b2ee-de16ab442a36
MICROSOFT_CLIENT_SECRET=[INSERT NEW MICROSOFT OAUTH CLIENT SECRET]
MICROSOFT_TENANT_ID=7d9dc0cf-0600-4f46-bc9d-b74602c1661f
MICROSOFT_OAUTH_AUTHORITY=https://login.microsoftonline.com

TOKEN_STORAGE_PATH=data/tokens.json
MICROSOFT_IMAP_HOST=outlook.office365.com
MICROSOFT_IMAP_PORT=993
MICROSOFT_SMTP_HOST=smtp.office365.com
MICROSOFT_SMTP_PORT=587

# --- EXTRA ---
WEB_ORIGIN=http://localhost:3000

# --- DATABASE (PostgreSQL on Neon) ---
DATABASE_URL="postgresql://neondb_owner:npg_6xv2RzETMygY@ep-nameless-wave-atnmhbu6-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&pgbouncer=true"
DIRECT_URL="postgresql://neondb_owner:npg_6xv2RzETMygY@ep-nameless-wave-atnmhbu6.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require"

# --- AUTH AND ENCRYPTION SECRETS ---
JWT_SECRET=992c7cb058e422cb5ef215588e4b2c6ec4abf06f1fc19c9f12d37e4975df3fe37c6ba6ea62ebb65e2fdb017c7dc1379e
MAILBOX_ENCRYPTION_KEY=3e5199b6d514c2b8c4b4fed1227e44cdb8adde851c62c1ea97921114fb92f0e8